@model ShopTARgv24_Ksenia.Core.Domain.Kindergarten

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kindergarten</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildrenCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildrenCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KindergartenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KindergartenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
