@model ShopTARgv24_Ksenia.Models.Spaceships.Spaceship

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spaceship</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuiltDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuiltDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnginePower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passengers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passengers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InnerVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InnerVolume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
