@model IEnumerable<ShopTARgv24_Ksenia.Models.Spaceships.SpaceshipsIndexViewModel>

@{
    int nr = 1;
    string mark = "*";
}

<div class="text-center">
    <h1 class="display-4">Table SpaceShips</h1>
</div>
<div class="text-end">
    <a asp-action="create" asp-controller="spaceships" type="submit" class="btn btn-primary">Create</a>
</div>
<form action="/" method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Buil Date</th>
                <th scope="col">Crew</th>
                <th scope="col">Buttons</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var spaceships in Model)
            {
                <tr>
                    <td>@nr. @mark</td>
                    <td>@spaceships.Name</td>
                    <td>@spaceships.TypeName</td>
                    <td>@spaceships.BuildDate</td>
                    <td>@spaceships.Crew</td>
                    <td>
                        <a asp-action="details" asp-controller="spaceships" asp-route-id="@spaceships.Id" class="btn btn-outline-primary">Details</a>
                        <a asp-action="update" asp-controller="spaceships" asp-route-id="@spaceships.Id" class="btn btn-outline-warning">Update</a>
                        <a asp-action="delete" asp-controller="spaceships" asp-route-id="@spaceships.Id" class="btn btn-outline-danger">Delete</a>
                    </td>

                </tr>
                nr++;
                //nr += 1;
                mark += "*";
            }
        </tbody>
    </table>
</form>